---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

---
title: "What Knowledge Gets Distilled in Knowledge Distillation?"
collection: publications
category: manuscripts
permalink: /publication/kdist
excerpt: "The teacher can transfer some really cool, hidden properties to the student!"
venue: "NeurIPS 2023"
teaser: "/assets/img/kdist.png"  # Update this path based on your image storage
authors: "Utkarsh Ojha*, Yuheng Li*, Anirudh Sundara Rajan*, Yingyu Liang, Yong Jae Lee"
---

<div style="border: 1px solid #ddd; padding: 15px; border-radius: 10px;">
  <table>
    <tr>
      <td><img src="{{ page.teaser }}" width="150px" style="border-radius:10px;"></td>
      <td style="padding-left: 15px;">
        <b>{{ page.title }}</b><br>
        <i>{{ page.venue }}</i><br>
        <b>Authors:</b> {{ page.authors }}<br>
        (*Joint first authors*)
      </td>
    </tr>
  </table>

  <hr style="margin: 10px 0;">

  <p><b>Links:</b></p>
  <ul>
    <li>📄 <a href="https://arxiv.org/abs/2205.16004" target="_blank">Paper</a></li>
  </ul>
</div>
