---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<div style="border: 1px solid #ddd; padding: 15px; border-radius: 10px; margin-bottom: 20px;">
  <div style="display: flex; align-items: center;">
    <div>
      <img src="/assets/img/kdist.png" width="150px" style="border-radius:10px; margin-right: 15px;">
    </div>
    <div>
      <b>What Knowledge Gets Distilled in Knowledge Distillation?</b><br>
      <i>NeurIPS 2023</i><br>
      <b>Authors:</b> Utkarsh Ojha*, Yuheng Li*, Anirudh Sundara Rajan*, Yingyu Liang, Yong Jae Lee<br>
      (*Joint first authors*)
    </div>
  </div>

  <hr style="margin: 10px 0;">

  <p><b>Links:</b></p>
  <ul>
    <li>📄 <a href="https://arxiv.org/abs/2205.16004" target="_blank">Paper</a></li>
  </ul>
</div>
